:root {
    box-sizing: border-box;
    --nfl-blue: #013369;
    --nfl-red: #D50A0A;
    --nav-border: #6e0101;
    --nav-a-border: #01162c;
}

body {
    margin: 0;
    background-color: var(--nfl-blue);
}

#current {
    background-color: var(--nfl-blue);
    border-radius: 10px;
    color: white;
    transform: scale(1.05);
    border: 2px solid #01162c;
}

main {
    max-width: 800px;
    margin: auto;
}

nav {
    display: flex;
    background-color: var(--nfl-red);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid var(--nav-border);
}

nav a {
    text-decoration: none;
    color: white;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    padding: 5px;
    font-size: 24px;
    font-family: head;
    border: 2px solid var(--nfl-red);
}

nav > a:hover {
    background-color: var(--nfl-blue);
    border-radius: 10px;
    color: white;
    transform: scale(1.05);
    border: 2px solid var(--nav-a-border);
}

#nfl-logo {
    text-align: center;
    margin-top: 10px;
}

#nfl-logo img {
    height: 200px;
}